os: osx
osx_image: xcode10.1
language: swift

branches:
  only:
  - master

script: xcodebuild clean build test -project bullshit\ detector.xcodeproj -scheme
  "CI" -sdk iphonesimulator -destination "platform=iOS Simulator,OS=12.1,name=iPhone
  8" ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO; echo $APPLE_PASSWORD; echo $APPLE_SIGNING_PASSWORD
notifications:
  email:
  - joachim@joachimneumann.com
dd:
  secure: L4rSYnsnptxYf80vuqGrgrM5U7sxRjgMRdctvnv6FW7GhR88SzLKDgSmtf69JYqQdXeGWzbqEZUx4Bld3imHV0w82s8q+ZiwpG9KLpK6fLdB5c3LRUuLHJJLUZjExqqB9dnLCu82ISi782N8/IiwdSMJXfe/bvXh4+EKldAzKGSHSsirxO6cN4NjLiGkAlxEOMB1jJeqmMZW1PewXPCid+Df+xU8ZRjeLJVqcamnczzJyXCVHSS81veP2CfvVos0lpAQ+nAqJgU8fEdKNWjn/9Z4xZ00STrnl1c8cwxVkdlZ3jhAQx8vIyxXmPnjPF00b6H+z9ShUGp6XSN3fSk9AL7YLelzTX+HpbLAzFGT6Sig3o72mZzED1NZO080E3YmekkIB8T4B8J2RnowFrpSSwyuLhPJCI6KTNENo1cmHZ8hD+CtmpNJg43vjhoAKmGAmxJuiTSv+a47qQ75dfOndbMtmm6c33sqH0CyauCFAYrIFnoiEwtLp9X7PTkIA4w4Ja21ofo2KJ5RRKJZpA9RQoAmLBBDgEVgW4dHEW/7K2UcNMccENCIpL+G8AakGGxceqfO+DkyNu2J32p6DpSwNrZdqur7d9dOiXLdzhVhw2n1hdCfkz9aNJwhIP97PHewUBiJWl+GdRlWsD8leWJfIfLXxKOs2diUNo9K4kmdgoQ=
