os: osx
osx_image: xcode10.1
language: swift
script: xcodebuild clean build test -project bullshit\ detector.xcodeproj -scheme "CI" -sdk iphonesimulator -destination "platform=iOS Simulator,OS=12.1,name=iPhone 8" ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO
notifications:
  email:
    - joachim@joachimneumann.com
